body {
    font-family: "Lucida Grande", sans-serif;
    color: #FFFFFF;
    background-color: #000000;
}

h1 { 
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #808080;
    text-shadow: 5px, 5px, 2px;
}

p {
    font-size: 24px;
    padding-top: 20px;
}

img {

}

div {
    min-height: 150px;
    padding: 25px;
}